# Skip creation of a root account (normal user account will be able to
# use sudo).
d-i passwd/root-login boolean false

# Use contrib and non-free areas
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true

# disable cdrom
d-i apt-setup/disable-cdrom-entries boolean true

# Upgrade installed packages
d-i pkgsel/upgrade select full-upgrade

# tasksel
# one of these should work
tasksel tasksel/tasks multiselect manual
tasksel tasksel/first multiselect manual
