binary
binary.img
*.iso
binary.list
binary.packages
binary.log

cache

chroot/

config/binary
config/bootstrap
config/chroot
config/common
config/source
config/build

.stage
.build
.lock

source
source.img
source.iso
source.list
source.packages

.build
.lock

chroot.packages.install
chroot.packages.live
binary.contents
binary.hybrid.iso.zsync
