*.iso
.build
.lock
.stage
binary
binary.contents
binary.hybrid.iso.zsync
binary.img
binary.list
binary.log
binary.packages
build.log
cache
chroot.packages.install
chroot.packages.live
chroot/
config/binary
config/bootstrap
config/build
config/chroot
config/common
config/source
source
source.img
source.iso
source.list
source.packages
