[Desktop Entry]
Encoding=UTF-8
Name=K3b
GenericName=K3b
Comment=KDE burning tool
Exec=/usr/bin/k3b
Icon=/usr/share/icons/oxygen/32x32/apps/k3b.png
Terminal=false
Type=Application
Categories=Utility;