[Desktop Entry]
Encoding=UTF-8
Version=2.0.5.0-Free-1
Name=QCad
Comment=CAD Editor
Type=Application
Exec=qcad
TryExec=qcad
Icon=/usr/share/pixmaps/qcad.xpm
Terminal=false
Categories=GNOME;Graphics;
StartupNotify=true
