[Desktop Entry]
Version=0.28.14
Type=Application
Name=Whitedune
GenericName=Whitedune
Comment=Whitedune vrml editor
Exec=whitedune
TryExec=whitedune
Icon=/usr/share/pixmaps/whitedune.xpm
Terminal=1
Categories=Graphics;GTK;
StartupNotify=true
NoDisplay=false
